body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    
  }
  
  .flex-container {
    display: flex;
    height: 100vh; /* Set height to 100% of the viewport height */
  }
  
  .faculty-info {
    width: 20%;
    height: 100%;
    padding: 20px; /* Adjusted padding */
    background-color: #e0e0e0; /* Adjusted background color */
  }
  .tables {
    width: 100%;
    height: 100%; /* Updated to 100% height */
    margin: auto;
    margin-right: 0%;
    display: flex; /* Assuming you want a flex container */
  }
  
  .table__wrapper {
    overflow-x: auto;
    height: 100%;
    width: 100%;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    height: 100%;
  }
  
  .table__header {
    background-color: #0C2340;
    color: white;
  }
  
  .table__header td {
    padding: 12px;
    text-align: left;
  }
  
  .table__body tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .table__body td {
    padding: 12px;
  }
  
  .badge {
    padding: 8px 12px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .badge:hover {
    background-color: #0056b3;
  }
  
  .faculty-info img {
    width: 100%;
    border-radius: 20px;
    margin-top: 50%;
  }
  
  .faculty-info p {
    margin: 30px 0;
    font-size: 16px; /* Adjusted font size */
    color: #333; /* Adjusted text color */
  }
  