/* styles.css */
/* styles.css */
/* styles.css */
.dashboard-container {
  display: flex;
  height: 30vh;
  margin: 0 auto;
}

.sidebar {
  flex: 1;
  height: 100vh;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  color: #000066;
 {/* border:  3px  dotted #cdc847;*/}
 
 
  
}
.left img {
 
  border-radius: 50%;
  align-items: center;
  margin-left: 10vh;
  width: 25vh;
  height: 25vh;
  margin-left: 10%;
}

.left h3 {
  align-items: center;
  margin-left: 7vh;
  font-family: "Lusitana-Bold";
  font-size: 5vh;
  margin-bottom: 2vh;
}
.left p{
  
  padding: 3vh;
}

.main-content {
  flex: 3;
  padding: 20px;
}



.data-list {
  display: flex;
  flex-wrap: wrap;
}

.data-item {
  flex: 1;
  margin: 10px;
  padding: 15px;
  border: 1px solid #ddd;
  background-color: #fff;
}




